@font-face{
    font-family: "poor";
    src: url("poor.ttf");
}
body{
    background-image:url(imagenes/fondo2.jpg) ;
    font-family: "poor";
    font-size: 20px;
}
.h1{
    color: white;
    text-align: center;
    font-family: "poor";
    font-size: 100px;
}
.fotoperfil{
    margin-top: 6px;
    margin-left: 20px;
    border-radius: 200px;
    border:solid white;
    height: 200px;
    width: 200px;

}
#izq{
    border-radius: 20px;
    background-color: rgb(83, 194, 216, 0.7);
    width: 30%;
    border:solid white;
    float: left;
    margin-bottom: 2%;
    
}
.fieldset{
    margin: 20px;
    border-radius: 20px;
    background-color:  #53c2d8 ;
    border: solid white;

}
.legend{
    border-radius: 50px;
    border: solid white;
    background-color:  #4d82f4 ;
    text-align: left;
    margin-left: 5%;
   
}
#derecha{
    text-align: center;
    border-radius: 20px;
    background-color: rgb(83, 194, 216, 0.7);
    width: 60%;
    border: solid white;
    float: right;
    margin-right: 5%;
}
.left{
    float: left;
    margin-left: 20px;
    
}
.right{
    float: right;
    margin-right: 20px;
}
