body{
    background-image: url(imagenes/mariofondo5.jpg);
    
}
canvas{
    background-color: black;
    border-style: solid;
    border-color: navy;
    border-width: 2px;
    border-radius: 1px;
    margin-top: 50px;
    margin: 0 auto;
    margin-left: 30%;
}

