body{
    background-color: grey;
}

#derecha{
    float: right;
    margin-right: 3%;
}

#izquierda{
    float: left;
    text-align: center;
    margin-left: 3%;
}

#fieldset{
    margin-right: 40%;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 50px;
    border: solid white
}

#legend{
    border-radius: 50px;
    border: solid white;
    
    text-align: left;
    
}

#imgagesrc{
    margin-right: 40%;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 50px;
    border: solid white
}
